<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <style>
            table {
                font-family: "Trebuchet MS", sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            td, th {
                border: 1px solid #000000;
            }
            tr:nth-child(even) {
                background-color: goldenrod;
            }
        </style>
    </head>
    <body>
        <h2>-- Two Python commands:</h2><br>

        <table>
            <tr>
                <th>Command</th>
                <th>Function</th>
                <th>Exit</th>
            </tr>
            <tr>
                <td>>>> print('message')</td>
                <td>print on screen the message</td>
                <td>message</td>
            </tr>
            <tr>
                <td>>>> sum(1+2)</td>
                <td>sum the first argument with the second</td>
                <td>3</td>
            </tr>
        </table>
    </body>
</html>
